src/flows/Session_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Completed_Session</name>
        <label>Completed Session</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Session__c.Guest_Session_Completed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Session_Email</name>
        <label>New Session Email</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Session__c.New_Guest_Session</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Guest_Session</name>
        <label>Guest Session</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Guest_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsGuest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Session_Email</targetReference>
            </connector>
            <label>New Guest Session</label>
        </rules>
        <rules>
            <name>Guest_Completed_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsGuest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_Session</targetReference>
            </connector>
            <label>Guest Completed Session</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsComplete</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Completed_Date__c} != null</expression>
    </formulas>
    <formulas>
        <name>IsGuest</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL( {!$User.UserType}, &quot;Guest&quot; )</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Session Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Session Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Guest_Session</targetReference>
        </connector>
        <object>Session__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
